<h2>
  <%- data.name %>
</h2>
<p>Custom element "Border" with content.</p>
<h3>Usage</h3>
<fluent-border>
  <pre><code class="lang-html">&lt;fluent-border&gt;
    &lt;h3&gt;Buton&lt;/h3&gt;
    &lt;button&gt;Fluent button&lt;/button&gt;
&lt;/fluent-border&gt;</code></pre>
</fluent-border><br>
<fluent-border>
  <h3>Button</h3>
  <button>Fluent button</button>
</fluent-border>