<h2>
  <%- data.name %>
</h2>
<p>Redesigned <fluent-label consolas>button</fluent-label> and <fluent-label consolas>input
    type="submit"</fluent-label>.</p>
<h3>Usage</h3>
<h4>Styles</h4>
<p>Buttons can be used in 3 variants.</p>
<table>
  <thead>
    <tr>
      <th>Variant</th>
      <th>Preview</th>
      <th>Usage</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <fluent-label consolas>standard</fluent-label>
      </td>
      <td><button>Standard button</button></td>
      <td>
        <fluent-border>
          <pre><code class="lang-html">&lt;button&gt;Standard button&lt;/button&gt;
&lt;!-- Can be used as &lt;input type=&#34;submit&#34;&gt; --&gt;
&lt;input type=&#34;submit&#34; value&#61;&#34;Standard button&#34;&gt;</code></pre>
        </fluent-border>
      </td>
      <td>Secondary actions or actions that are not important.</td>
    </tr>
    <tr>
      <td>
        <fluent-label consolas>accent</fluent-label>
      </td>
      <td><button accent>Accent button</button></td>
      <td>
        <fluent-border>
          <pre><code class="lang-html">&lt;button accent&gt;Accent button&lt;/button&gt;</code></pre>
        </fluent-border>
      </td>
      <td>Primary actions that are important to the user.</td>
    </tr>
    <tr>
      <td>
        <fluent-label consolas>hyperlink</fluent-label>
      </td>
      <td><button hyperlink>Hyperlink button</button></td>
      <td>
        <fluent-border>
          <pre><code class="lang-html">&lt;button hyperlink&gt;Hyperlink button&lt;/button&gt;</code></pre>
        </fluent-border>
      </td>
      <td>Primary actions that are important to the user.</td>
    </tr>
  </tbody>
</table>
<h4>Attributes</h4>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Preview</th>
      <th>Usage</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <fluent-label consolas>url</fluent-label>
      </td>
      <td><button url="https://bexcool.eu/">BeXCool</button></td>
      <td>
        <fluent-border>
          <pre><code class="lang-html"> &lt;button url="https://bexcool.eu/"&gt;BeXCool&lt;/button&gt;</code></pre>
        </fluent-border>
      </td>
      <td>Open URL link.</td>
    </tr>
    <tr>
      <td>
        <fluent-label consolas>urlnew</fluent-label>
      </td>
      <td><button urlnew="https://bexcool.eu/">BeXCool</button></td>
      <td>
        <fluent-border>
          <pre><code class="lang-html">&lt;button urlnew="https://bexcool.eu/"&gt;BeXCool&lt;/button&gt;</code></pre>
        </fluent-border>
      </td>
      <td>Open URL link in a new tab.</td>
    </tr>
  </tbody>
</table>