<h2>
  <%- data.name %>
</h2>
<p>Redesigned input checkbox.</p>
<h3>Usage</h3>
<fluent-border>
  <pre><code class="lang-html">&lt;input type=&#34;checkbox&#34; id=&#34;mycheck&#34;&gt;&lt;label for=&#34;mycheck&#34;&gt;Am I a checkbox?&lt;/label&gt;</code></pre>
</fluent-border><br>
<input type="checkbox" id="mycheck"><label for="mycheck">Am I a checkbox?</label>