<h2>
  <%- data.name %>
</h2>
<p>Redesigned input range.</p>
<fluent-expander header="Horizontal">
  <div class="fluent-content">
    <p>Hover it to show menu.</p>
    <fluent-border>
      <pre><code class="lang-html">&lt;input type=&#34;range&#34;&gt;</code></pre>
    </fluent-border><br>
    <input type="range">
  </div>
</fluent-expander>