<h2>
  <%- data.name %>
</h2>
<p>Redesigned <fluent-label consolas>table</fluent-label> element.</p>
<h3>Usage</h3>
<p>Tables are often used for showing some data.<br><strong>Remember to use</strong>
  <fluent-label consolas>thead</fluent-label> and <fluent-label consolas>tbody
  </fluent-label> elements.
</p>
<fluent-border>
  <pre><code class="lang-html">&lt;table&gt;
	&lt;thead&gt;
		&lt;tr&gt;
			&lt;th&gt;Header 1&lt;/th&gt;
			&lt;th&gt;Header 2&lt;/th&gt;
			&lt;th&gt;Header 3&lt;/th&gt;
			&lt;th&gt;Header 4&lt;/th&gt;
		&lt;/tr&gt;
	&lt;/thead&gt;
	&lt;tbody&gt;
		&lt;tr&gt;
			&lt;td&gt;Value&lt;/td&gt;
			&lt;td&gt;Value&lt;/td&gt;
			&lt;td&gt;Value&lt;/td&gt;
			&lt;td&gt;Value&lt;/td&gt;
		&lt;/tr&gt;
		&lt;tr&gt;
			&lt;td&gt;Value&lt;/td&gt;
			&lt;td&gt;Value&lt;/td&gt;
			&lt;td&gt;Value&lt;/td&gt;
			&lt;td&gt;Value&lt;/td&gt;
		&lt;/tr&gt;
	&lt;/tbody&gt;
&lt;/table&gt;</code></pre>
</fluent-border><br>
<table>
  <thead>
    <tr>
      <th>Header 1</th>
      <th>Header 2</th>
      <th>Header 3</th>
      <th>Header 4</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Value</td>
      <td>Value</td>
      <td>Value</td>
      <td>Value</td>
    </tr>
    <tr>
      <td>Value</td>
      <td>Value</td>
      <td>Value</td>
      <td>Value</td>
    </tr>
  </tbody>
</table>