<h2>
  <%- data.name %>
</h2>
<p>Originally created by Peter from BeXCool.</p>
<p>Ported to Typescript & Sass by spejik from BeXCool.</p>
<a href="https://linkify.cz/Q.E9" target="_blank">GitHub</a>
<a href="https://linkify.cz/J8Al" target="_blank">Web</a>
<p>&copy; BeXCool <span set-date-year></span></p>
<p>Note that this page uses Microsoft Clarity (with cookies set to disabled) to help us catch any issues with components. See <a href="https://learn.microsoft.com/en-us/clarity/setup-and-installation/data-retention">Microsoft Docs</a> for more info.</p>