<h2>
  <%- data.name %>
</h2>
<p>Originally created by Peter from BeXCool.</p>
<p>Ported to Typescript & Sass by spejik from BeXCool.</p>
<a href="https://linkify.cz/Q.E9" target="_blank">GitHub</a>
<a href="https://linkify.cz/J8Al" target="_blank">Web</a>
<p>&copy; BeXCool <span set-date-year></span></p>