/* Colors section */

.docs-colors-border {
    width: 2em;
    height: 2em;
    border-radius: var(--border-radius);
    -webkit-border-radius: var(--border-radius);
    -moz-border-radius: var(--border-radius);
    -ms-border-radius: var(--border-radius);
    -o-border-radius: var(--border-radius);
}

/* Page header */

.docs-page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 10em;
}

.docs-page-header .fluent-button-hyperlink {
    display: inline-block;
}