/* Define variables */

:root {
    /* --- Global colors --- */
    --black-white-color: white;
    --dark-color: rgb(32, 32, 32);
    --dark-border-color: rgb(25, 25, 25, 0.75);
    --darker-color: rgb(39, 39, 39);
    --darker-color-noa: rgb(43, 43, 43);
    --light-color: hsla(0, 0%, 100%, 5.12%);
    --light-trans-color: rgba(43, 43, 43, 0.7);
    --light-hover-color: hsla(0, 0%, 100%, .084);
    --lighter-hover-color: rgb(55, 55, 55);
    --lighter-press-color: rgb(51, 51, 51);
    --light-border-color: rgb(47, 47, 47);
    --lighter-border-color: rgba(180, 180, 180, 0.4);
    --light-dark-color: rgb(33, 33, 33);
    --very-light-color: rgb(145, 145, 145, 0.75);
    --focus-color: rgba(255, 255, 255, 0.043);
    --text-color-inverted: black;
    --text-focus-color-inverted: rgba(0, 0, 0, 0.75);
    --text-color: white;
    --text-focus-color: rgba(255, 255, 255, 0.75);
    --text-nobg-color: rgb(185, 185, 185);
    --accent-focus-color: #42a1d2;
    --accent-hover-color: #47b1e8;
    --accent-color-custom: none;
    --accent-color-default-dark: #4cc2ff;
    --accent-color-default-light: #0067c0;
    --accent-color: #4cc2ff;
    --accent-color-1: #4cc2ff;
    --accent-color-2: #4cc2ff;
    --accent-color-3: #4cc2ff;
    --textbox-border-bottom-color: rgb(180, 180, 180);
    --icon-color: 0%;
    --icon-color-inverted: 30%;

    /* Button */
    --button-color: hsla(0, 0%, 100%, .061);
    --button-hover-color: rgba(255, 255, 255, 0.089);
    --button-focus-color: rgba(255, 255, 255, 0.040);
    --button-border-color: rgba(63, 63, 63, 0.5);

    /* Slider (input range) */
    --slider-thumb-border-color: rgb(69, 69, 69);

    /* Syntax Highlight colors */
    --HTML-tagcolor: darkgray;
    --HTML-tagnamecolor: #569cd6;
    --HTML-attributecolor: #9cdcfe;
    --HTML-attributevaluecolor: #ce9178;
    --HTML-commentcolor: #6a9955;
    --CSS-selectorcolor: #d7ba7d;
    --CSS-propertycolor: #569cd6;
    --CSS-propertyvaluecolor: #ce9178;
    --CSS-delimitercolor: white;
    --CSS-importantcolor: #569cd6;
    --JS-color: #dcdcaa;
    --JS-keywordcolor: #006aff;
    --JS-stringcolor: #ce9178;
    --JS-numbercolor: #b5cea8;
    --JS-propertycolor: #9cdcfe;

    /* --- Variables --- */
    --expander-expand-height: "0px";
    --background-image: "var(https://resources.bexcool.eu/fluentwebframework/src/img/background_dark.png)";
}

/* HTML */

html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Body */

body {
    background-color: var(--dark-color);
    font-family: "Segoe UI", Arial, sans-serif;
    color: var(--text-color);
    margin: 0;
    height: 100%;
    transition: 0.25s ease-in-out;
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -ms-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
}

body::-webkit-scrollbar {
    width: 23px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: var(--dark-color);
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: var(--very-light-color);
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 9px solid var(--dark-color);
    /* creates padding around scroll thumb */
}

body::-webkit-scrollbar-thumb:hover {
    border: 7px solid var(--dark-color);
    /* creates padding around scroll thumb */
}

/* Input text, password, email and Textarea */

input[type="text"], input[type="password"], input[type="email"], input[type="url"], textarea {
    margin: 0.2em;
    background-color: var(--light-color);
    border: var(--light-border-color) solid 0.4px;
    border-bottom: var(--textbox-border-bottom-color) solid 0.4px;
    border-radius: 4px;
    padding: 6px 6px 5px 10px;
    color: var(--text-color);
    outline: none;
}

input[type="text"]:hover, input[type="password"]:hover, input[type="email"]:hover, input[type="url"]:hover, textarea:hover {
    background-color: var(--light-hover-color);
}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="url"]:focus, textarea:focus {
    background-color: var(--dark-color);
    border-bottom: rgb(46, 137, 255) solid 2px;
    padding: 6px 6px 4px 10px;
}

/* Hyperlink button - UNUSED */

.fluent-hyperlink-button {
    margin: 0.2em;
    color: var(--text-nobg-color);
    border: none;
    padding: 6px 11px 7px;
    background-color: rgba(0, 0, 0, 0);
    transition: 0.1s ease-in-out;
    -webkit-transition: 0.1s ease-in-out;
    -moz-transition: 0.1s ease-in-out;
    -ms-transition: 0.1s ease-in-out;
    -o-transition: 0.1s ease-in-out;
    outline: var(--text-color);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.fluent-hyperlink-button:hover {
    background-color: var(--light-hover-color);
}

.fluent-hyperlink-button:focus {
    background-color: var(--focus-color);
}

/* Hyperlink button accent */

.fluent-button-hyperlink {
    cursor: default;
    margin: 0.2em;
    color: var(--accent-color);
    border: none;
    padding: 6px 12px 7px;
    background-color: rgba(0, 0, 0, 0);
    transition: 0.1s ease-in-out;
    outline: var(--text-color);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.fluent-button-hyperlink:hover {
    background-color: var(--light-hover-color);
    cursor: pointer;
}

.fluent-button-hyperlink:focus {
    background-color: var(--focus-color);
    color: var(--accent-color-3);
}

/* Hyperlink */

.fluent-hyperlink {
    text-decoration: underline;
    cursor: default;
    margin: auto;
    color: var(--accent-color);
    border: none;
    padding: unset;
    background-color: unset;
    transition: 0.1s ease-in-out;
    outline: none;
    border-radius: none;
    -webkit-border-radius: none;
    -moz-border-radius: none;
    -ms-border-radius: none;
    -o-border-radius: none;
}

.fluent-hyperlink:hover {
    background-color: unset;
    color: var(--accent-color-1);
    cursor: pointer;
}

.fluent-hyperlink:focus {
    background-color: unset;
    color: var(--accent-color-3);
}

/* Button */

.fluent-button, input[type="submit"], button, a {
    margin: 0.2em;
    color: var(--text-color);
    border: var(--button-border-color) solid 0.4px;
    padding: 5px 11px 6px;
    background-color: var(--button-color);
    transition: 0.1s ease-in-out;
    -webkit-transition: 0.1s ease-in-out;
    -moz-transition: 0.1s ease-in-out;
    -ms-transition: 0.1s ease-in-out;
    -o-transition: 0.1s ease-in-out;
    outline: var(--text-color);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    text-decoration: none;
    user-select: none;
    cursor: default;
    font-size: 13.33px;
}

.fluent-button:hover, input[type="submit"]:hover, button:hover, a:hover {
    background-color: var(--button-hover-color);
}

.fluent-button:focus, input[type="submit"]:focus, button:focus, a:focus {
    background-color: var(--button-focus-color);
    color: var(--text-focus-color);
}

/* Accent button */

.fluent-button-accent {
    color: var(--text-color-inverted);
    border: var(--light-border-color) solid 0.4px;
    padding: 5px 11px 6px;
    background-color: var(--accent-color);
    transition: 0.1s ease-in-out;
    border-radius: 4px;
    cursor: default;
}

.fluent-button-accent:hover {
    background-color: var(--accent-color-1);
}

.fluent-button-accent:focus {
    background-color: var(--accent-color-2);
    color: var(--text-focus-color-inverted);
}

/* a */

a, a.fluent-button-accent, a.fluent-button-hyperlink {
    padding: 4px 11px 6px;
}

a.fluent-button-hyperlink {
    padding: 5px 12px 7px;
}

/* Checkbox */

input[type="checkbox"] {
    display: inline;
    color: var(--text-color);
    border: rgb(160, 160, 160) solid 0.4px;
    background-color: var(--dark-color);
    transition: 0.1s ease-in-out;
    outline: var(--text-color);
    height: 1.5em;
    width: 1.5em;
    padding: 0 0.58em;
    margin-right: 0.5em;
    border-radius: 5px;
    appearance: none;
    -webkit-appearance: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1em;
}

input[type="checkbox"]:hover {
    background-color: var(--light-hover-color);
}

input[type="checkbox"]:checked {
    background-color: var(--accent-hover-color);
    border: var(--accent-hover-color) solid 0.4px;
    background-image: url("https://img.icons8.com/fluency-systems-regular/50/000000/checkmark--v1.png");
}

input[type="checkbox"]:checked:hover {
    background-color: var(--accent-color);
    border: var(--accent-color) solid 0.4px;
    background-image: url("https://img.icons8.com/fluency-systems-regular/50/000000/checkmark--v1.png");
}

/* Date and Time */

input[type="date"], input[type="time"] {
    margin: 0.2em;
    color: var(--text-color);
    border: var(--light-border-color) solid 0.4px;
    padding: 7px 11px 5px;
    background-color: var(--light-color);
    transition: 0.1s ease-in-out;
    outline: var(--text-color);
    border-radius: 4px;
}

input[type="date"]:hover, input[type="time"]:hover {
    background-color: var(--light-hover-color);
}

input[type="date"]:focus, input[type="time"]:focus {
    background-color: var(--focus-color);
    color: var(--text-focus-color);
}

/* Input color */

input[type="color"] {
    margin: 0.2em;
    height: 30px;
    color: var(--text-color);
    border: var(--light-border-color) solid 0.4px;
    padding: 5px;
    background-color: var(--light-color);
    transition: 0.1s ease-in-out;
    outline: var(--text-color);
    border-radius: 4px;
}

input[type="color"]:hover {
    background-color: var(--light-hover-color);
}

input[type="color"]:focus {
    background-color: var(--focus-color);
    color: var(--text-focus-color);
}

::-webkit-color-swatch, ::-moz-color-swatch {
    border-color: transparent;
}

/* Input file */

input[type="file"] {
    margin: 0.2em;
    color: var(--text-color);
    border: var(--light-border-color) solid 0.4px;
    padding: 5px 11px 6px;
    background-color: var(--light-color);
    transition: 0.1s ease-in-out;
    outline: var(--text-color);
    border-radius: 4px;
}

input[type="file"]:hover {
    background-color: var(--light-hover-color);
}

input[type="file"]:focus {
    background-color: var(--focus-color);
    color: var(--text-focus-color);
}

::-webkit-file-upload-button {
    color: var(--text-color);
    border: var(--light-border-color) solid 0.4px;
    padding: 5px 11px 6px;
    background-color: var(--light-color);
    transition: 0.1s ease-in-out;
    outline: var(--text-color);
    border-radius: 4px;
}

/* Input range */

input[type=range] {
    height: 0.3em;
    -webkit-appearance: none;
    --range: calc(var(--max) - var(--min));
    --ratio: calc((var(--value) - var(--min)) / var(--range));
    --sx: calc(0.5 * 1em + var(--ratio) * (100% - 1em));
}

input[type=range]:focus {
    outline: none;
}

/*webkit*/
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    margin-top: calc(0.5em * 0.5 - 1.75em * 0.5);
    width: 1.75em;
    height: 1.75em;
    border-radius: 100%;
    background: var(--accent-color);
    border: var(--slider-thumb-border-color) solid 0.5em;
    box-shadow: none;
    transition: 0.1s;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -ms-transition: 0.1s;
    -o-transition: 0.1s;
}

input[type=range]::-webkit-slider-runnable-track {
    height: 0.3em;
    border: none;
    background: var(--light-color);
    box-shadow: none;
}

input[type=range]::-webkit-slider-thumb:hover {
    margin-top: calc(0.35em * 0.5 - 1.65em * 0.5);
    width: 1.8em;
    height: 1.8em;
    border: var(--slider-thumb-border-color) solid 0.35em;
}

input[type=range]::-webkit-slider-thumb:active {
    margin-top: calc(0.6em * 0.5 - 1.7em * 0.5);
    width: 1.7em;
    height: 1.7em;
    border: var(--slider-thumb-border-color) solid 0.6em;
}

input[type=range]::-webkit-slider-runnable-track {
    background: linear-gradient(var(--accent-color), var(--accent-color)) 0/var(--sx) 100% no-repeat, var(--very-light-color);
}

/*mozilla*/
input[type=range]::-moz-range-thumb {
    width: 0.7em;
    height: 0.7em;
    border-radius: 100%;
    background: var(--accent-color);
    border: var(--slider-thumb-border-color) solid 0.5em;
    box-shadow: none;
    transition: 0.1s;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -ms-transition: 0.1s;
    -o-transition: 0.1s;
}

input[type=range]::-moz-range-track {
    height: 0.3em;
    border: none;
    background: var(--light-color);
    box-shadow: none;
}

input[type=range]::-moz-range-thumb:hover {
    width: 1em;
    height: 1em;
    border: var(--slider-thumb-border-color) solid 0.37em;
}

input[type=range]::-moz-range-thumb:active {
    width: 0.5em;
    height: 0.5em;
    border: var(--slider-thumb-border-color) solid 0.54em;
}

input[type=range]::-moz-range-track {
    background: linear-gradient(var(--accent-color), var(--accent-color)) 0/var(--sx) 100% no-repeat, var(--very-light-color);
}

/*ms*/
input[type=range]::-ms-fill-upper {
    background: transparent;
    border-color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: transparent;
    border-color: transparent;
}

input[type=range]::-ms-thumb {
    width: 1em;
    height: 1em;
    border-radius: 100%;
    background: var(--accent-color);
    border: none;
    box-shadow: none;
    margin-top: 0;
    box-sizing: border-box;
}

input[type=range]::-ms-track {
    height: 0.3em;
    background: var(--light-color);
    border: none;
    box-shadow: none;
    box-sizing: border-box;
}

input[type=range]::-ms-thumb:hover {
    width: 1em;
    height: 1em;
    border: var(--slider-thumb-border-color) solid 0.37em;
}

input[type=range]::-ms-thumb:active {
    width: 0.5em;
    height: 0.5em;
    border: var(--slider-thumb-border-color) solid 0.54em;
}

input[type=range]::-ms-fill-lower {
    height: 3em;
    border-radius: 0.5em 0 0 0.5em;
    margin: -undefined 0 -undefined -undefined;
    background: var(--accent-color);
    border: none;
    border-right-width: 0;
}

  

/* Input select */

select {
    color: var(--text-color);
    border: var(--light-border-color) solid 0.4px;
    padding: 5px 0px 6px 11px;
    background-color: var(--light-color);
    transition: 0.1s ease-in-out;
    outline: var(--text-color);
    border-radius: 4px;
}

select:hover {
    background-color: var(--light-hover-color);
    cursor: pointer;
}

select:focus {
    background-color: var(--focus-color);
    color: var(--text-focus-color);
}

/* Input select (multiselect) option Fluent desing */

select[multiselect] option {
    color: var(--textbox-border-bottom-color);
    border: none;
    padding: 5px 11px 6px;
    background-color: rgba(0, 0, 0, 0);
    transition: 0.1s ease-in-out;
    outline: var(--text-color);
    border-radius: 4px;
}

select[multiselect] option:hover {
    background-color: var(--light-hover-color);
    cursor: pointer;
}

select[multiselect]option:focus {
    background-color: var(--focus-color);
}

/* Background Border */

.fluent-background-border {
    width: fit-content;
    height: fit-content;
    color: var(--text-color);
    border: var(--dark-border-color) solid 0.4px;
    background-color: var(--light-color);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 1em;
    margin: 1em 0;
}

/* Form */

form {
    color: var(--text-color);
    border: var(--light-border-color) solid 0.4px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 2em;
}

/* Fieldset */

fieldset {
    color: var(--text-color);
    border: var(--light-border-color) solid 0.4px;
    border-radius: 4px;
}

/* Legend */

legend {
    color: var(--text-color);
    padding: 0px 15px;
}

/* Context menu and menu */

.fluent-context-menu-container {
    position: relative;
    display: inline-block;
    width: auto;
    border-radius: 4px;
    transition: 0.1s ease-in-out;
    margin: 0.2em;
    margin-right: 1.43em;
}

.fluent-context-menu-container:focus {
    background-color: var(--focus-color);
    color: var(--text-focus-color);
}

.fluent-context-menu-container ul {
    list-style: none;
    display: none;
    padding: 3px;
    margin-top: 0;
    width: auto;
    color: var(--text-color);
    border: var(--dark-border-color) solid 0.4px;
    background: var(--light-color);
    backdrop-filter: blur(15px);
    outline: var(--text-color);
    border-radius: 8px;
    transition: 0.1s ease-in-out;
    height: 0;
    white-space: nowrap;
    overflow: hidden;
}

.fluent-context-menu-container:hover ul, .fluent-context-menu-standalone:hover ul {
    display: inline-block;
    position: absolute;
    height: auto;
}

.fluent-context-menu-container ul li, .fluent-context-menu-standalone ul li, .fluent-menu ul li {
    display: block;
    width: 100%;
}

.fluent-context-menu-container ul li a, .fluent-context-menu-standalone ul li a, .fluent-menu ul li a {
    background-repeat: no-repeat;
    background-size: 1.5em;
    background-position-x: 1.2em;
    background-position-y: center;
    color: var(--text-color);
    border: none;
    margin: 5px;
    padding: 6px 42px 7px;
    background-color: rgba(0, 0, 0, 0);
    transition: 0.1s ease-in-out;
    outline: var(--text-color);
    border-radius: 4px;
    width: auto;
    overflow: hidden;
}

.fluent-context-menu-container ul li a:hover, .fluent-context-menu-standalone ul li a:hover, .fluent-menu ul li a:hover {
    background-color: var(--light-hover-color);
}

.fluent-context-menu-container ul li a.press, .fluent-context-menu-standalone ul li a.press, .fluent-menu ul li a.press {
    background-color: var(--focus-color);
}

.fluent-context-menu-container a, .fluent-context-menu-standalone a, .fluent-menu a {
    text-decoration: none;
    color: #282737;
    display: block;
    width: 100%;
    color: var(--text-color);
    border: var(--button-border-color) solid 0.4px;
    padding: 4px 11px 6px;
    background-color: var(--button-color);
    transition: 0.1s ease-in-out;
    -webkit-transition: 0.1s ease-in-out;
    -moz-transition: 0.1s ease-in-out;
    -ms-transition: 0.1s ease-in-out;
    -o-transition: 0.1s ease-in-out;
    outline: var(--text-color);
    border-radius: 4px;
    font-size: 13.33px;
}

.fluent-context-menu-container a:hover {
    background-color: var(--button-hover-color);
    cursor: default;
}

.fluent-context-menu-container a.fluent-menu-item-select.selected, .fluent-menu a.fluent-menu-item-select.selected {
    background-color: var(--light-hover-color);
}

.fluent-context-menu-container a.fluent-menu-item-select.selected:hover, .fluent-menu a.fluent-menu-item-select.selected:hover {
    background-color: var(--focus-color);
}

a.fluent-menu-item:hover {
    cursor: pointer;
}

.fluent-context-menu {
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    overflow: hidden;
    display: none;
    position: absolute;
    margin: -1.5em;
    padding: 1.5em;
    margin-top: 0;
    padding-top: 0;
}

.fluent-context-menu-container:hover .fluent-context-menu {
    display: inline-block;
}

.fluent-menu-item-select {
    overflow: hidden;
    cursor: default;
}

.fluent-menu-item-select-selected {
    position: absolute;
    padding: 0;
    width: 3px;
    height: 1.15em;
    opacity: 0;
    background-color: var(--accent-color);
    display: inline-block; 
    border-radius: 10px; 
    margin: 0.1em 0 0.1em -42px;
}

@keyframes fluent-menu-item-select-up {
    0% {
        transform: translateY(0em) scaleY(1);
        -webkit-transform: translateY(0em) scaleY(1);
        -moz-transform: translateY(0em) scaleY(1);
        -ms-transform: translateY(0em) scaleY(1);
        -o-transform: translateY(0em) scaleY(1);
}

    100% {
        transform: translateY(-0.575em) scaleY(2);
        -webkit-transform: translateY(-0.575em) scaleY(2);
        -moz-transform: translateY(-0.575em) scaleY(2);
        -ms-transform: translateY(-0.575em) scaleY(2);
        -o-transform: translateY(-0.575em) scaleY(2);
}
}

@keyframes fluent-menu-item-select-down {
    0% {
        transform: translateY(0em) scaleY(1);
        -webkit-transform: translateY(0em) scaleY(1);
        -moz-transform: translateY(0em) scaleY(1);
        -ms-transform: translateY(0em) scaleY(1);
        -o-transform: translateY(0em) scaleY(1);
}

    100% {
        transform: translateY(0.575em) scaleY(2);
        -webkit-transform: translateY(0.575em) scaleY(2);
        -moz-transform: translateY(0.575em) scaleY(2);
        -ms-transform: translateY(0.575em) scaleY(2);
        -o-transform: translateY(0.575em) scaleY(2);
}
}

@keyframes fluent-menu-item-select-up-reverse {
    0% {
        transform: translateY(-0.575em) scaleY(2);
        -webkit-transform: translateY(-0.575em) scaleY(2);
        -moz-transform: translateY(-0.575em) scaleY(2);
        -ms-transform: translateY(-0.575em) scaleY(2);
        -o-transform: translateY(-0.575em) scaleY(2);
}

    100% {
        transform: translateY(0em) scaleY(1);
        -webkit-transform: translateY(0em) scaleY(1);
        -moz-transform: translateY(0em) scaleY(1);
        -ms-transform: translateY(0em) scaleY(1);
        -o-transform: translateY(0em) scaleY(1);
}
}

@keyframes fluent-menu-item-select-down-reverse {
    0% {
        transform: translateY(0.575em) scaleY(2);
        -webkit-transform: translateY(0.575em) scaleY(2);
        -moz-transform: translateY(0.575em) scaleY(2);
        -ms-transform: translateY(0.575em) scaleY(2);
        -o-transform: translateY(0.575em) scaleY(2);
}

    100% {
        transform: translateY(0em) scaleY(1);
        -webkit-transform: translateY(0em) scaleY(1);
        -moz-transform: translateY(0em) scaleY(1);
        -ms-transform: translateY(0em) scaleY(1);
        -o-transform: translateY(0em) scaleY(1);
}
}

/* Menu Expander */

.fluent-menu-item-expander-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-color);
    border: none;
    margin: 5px;
    margin-bottom: 0;
    padding: 6px 20px 7px 42px;
    background-color: rgba(0, 0, 0, 0);
    transition: 0.1s ease-in-out;
    outline: var(--text-color);
    border-radius: 4px;
    width: auto;
    overflow: hidden;
}

.fluent-menu-item-expander-header .fluent-menu-item-icon {
    height: 1.25em;
}

.fluent-menu-item-expander-header:hover {
    background-color: var(--light-hover-color);
}

.fluent-menu-item-expander-header:cl {
    background-color: var(--light-hover-color);
}

.fluent-menu-item-expander-header p {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0;
    font-size: 13.33px;
}

.fluent-menu-item-expander-header div {
    display: flex;
    align-items: center;
    overflow: visible;
}

.fluent-menu-item-expander-header.press {
    background-color: var(--focus-color);
}

.fluent-menu-item-expander-body {
    margin-left: 2em;
    color: var(--text-color);
    display: none;
}

.fluent-menu-item-expander-body.expanded {
    display:flex;
    flex-direction: column;
}

.fluent-menu-item-expander-body.expanded li a {
    margin-bottom: 0;
}

.fluent-menu-item-expander-body-container {
    height: fit-content;
}

.fluent-menu-item-expander-arrow {
    height: 0.8em;
    pointer-events: none;
    margin: 0;
    margin-right: -0.7em;
    filter: invert(var(--icon-color));
    -webkit-filter: invert(var(--icon-color));
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
}

/* Context Menu Standalone */

.fluent-context-menu-standalone {
    display: none;
    position: fixed;
}

.fluent-context-menu-standalone.visible {
    display: block;
}

.fluent-context-menu-standalone ul {
    list-style: none;
    padding: 3px;
    margin-top: 0;
    width: auto;
    color: var(--text-color);
    border: var(--light-border-color) solid 0.4px;
    background: var(--light-trans-color);
    backdrop-filter: blur(15px);
    outline: var(--text-color);
    border-radius: 8px;
    list-style: none;
    transition: 0.1s ease-in-out;
    white-space: nowrap;
    box-shadow: 0px 5px 13px 5px rgba(0, 0, 0, 0.1);
}

/* Menu */

.fluent-menu ul {
    list-style: none;
    padding: 3px;
    margin-top: 0;
    width: 100%;
    color: var(--text-color);
    backdrop-filter: blur(15px);
    outline: var(--text-color);
    border-radius: 8px;
    transition: 0.1s ease-in-out;
    white-space: nowrap;
    overflow: hidden;
}

.fluent-menu {
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    overflow: hidden;
    margin: 0;
    padding: 1.5em;
    padding-top: 0;
}

/* Menu item icon */

.fluent-menu-item-icon {
    position: absolute;
    filter: invert(var(--icon-color));
    -webkit-filter: invert(var(--icon-color));
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    height: 1.425em;
    margin-left: -31.5px;
}

/* Hr spacer */

hr {
    border: none;
    border-bottom: var(--very-light-color) solid 0.1px;
    opacity: 0.5;
    width: 70%;
}

/* h1 */

h1, .fluent-display {
    font-size: 68px;
    font-weight: 600;
    margin-bottom: 0.25em;
}

/* h2 */

h2, .fluent-title-large {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 0.35em;
}

/* h3 */

h3, .fluent-title {
    font-size: 28px;
    font-weight: 600;
    margin-top: 0.3em;
    margin-bottom: 0.4em;
}

/* h4 */

h4, .fluent-subtitle {
    font-size: 20px;
    font-weight: 600;
    margin-top: 0.5em;
    margin-bottom: 0.3em;
}

/* h5 */

h5, .fluent-body-large {
    font-size: 20px;
    font-weight: 400;
    margin-top: 0.5em;
    margin-bottom: 0.3em;
}

/* h6 */

h6, .fluent-body-strong {
    font-size: 14px;
    font-weight: 600;
}

/* p */

p, .fluent-body {
    font-size: 14px;
    font-weight: 400;
}

/* Caption */

.fluent-caption {
    font-size: 12px;
    font-weight: 400;
}

/* Expander */

.fluent-expander {
    margin: 2em 0 0 0;
}

.fluent-expander-header {
    color: var(--text-color);
    border: var(--dark-border-color) solid 0.4px;
    padding: 0 0.4em 0 1em;
    margin: 0;
    background-color: var(--light-color);
    transition: 0.1s ease-in-out;
    border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -ms-border-radius: 4px 4px 4px 4px;
    -o-border-radius: 4px 4px 4px 4px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fluent-expander-header:cl {
    background-color: var(--light-hover-color);
}

.fluent-expander-header p {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-right: 1em;
}

.fluent-expander-header div {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    padding: 0.2em;
    display: flex;
    align-items: center;
    transition: 0.1s ease-in-out;
    -webkit-transition: 0.1s ease-in-out;
    -moz-transition: 0.1s ease-in-out;
    -ms-transition: 0.1s ease-in-out;
    -o-transition: 0.1s ease-in-out;
    overflow: visible;
}

.fluent-expander-header:hover div {
    background-color: var(--lighter-hover-color);
}

.fluent-expander-header.press div {
    background-color: var(--lighter-press-color);
}

.fluent-expander-body {
    color: var(--text-color);
    border: var(--dark-border-color) solid 0.4px;
    border-top: none;
    display: none;
    background-color: var(--darker-color);
    border-radius: 0px 0px 4px 4px;
    -webkit-border-radius: 0px 0px 4px 4px;
    -moz-border-radius: 0px 0px 4px 4px;
    -ms-border-radius: 0px 0px 4px 4px;
    -o-border-radius: 0px 0px 4px 4px;
}

.fluent-expander-body.expanded {
    border-top: rgba(0, 0, 0, 0) solid 0.4px;
    display: block;
}

.fluent-expander-body-container {
    height: fit-content;
}

.fluent-expander-arrow {
    height: 0.9em;
    pointer-events: none;
    margin: 0;
    padding: 0.4em;
    filter: invert(var(--icon-color));
    -webkit-filter: invert(var(--icon-color));
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
}

@keyframes fluent-expander-expand {
    
    0% { margin-top: calc(var(--expander-expand-height) * -1); }
    100% { margin-top: 0px; }
}

@keyframes fluent-expander-expand-reverse {
    0% { margin-top: 0px; }
    100% { margin-top: calc(var(--expander-expand-height) * -1); }
}

/* Combobox */

.fluent-combobox {
    position: relative;
    /* obsahový blok pro pozici "ul ul" */
    display: inline-block;
    width: auto;
    border-radius: 4px;
    transition: 0.1s ease-in-out;
    margin-right: 1.43em;
}

.fluent-combobox:focus {
    background-color: var(--button-focus-color);
    color: var(--text-focus-color);
}

.fluent-combobox ul {
    list-style: none;
    display: none;
    padding: 3px;
    margin-top: 0;
    width: auto;
    color: var(--text-color);
    border: var(--light-border-color) solid 0.4px;
    background: var(--light-trans-color);
    backdrop-filter: blur(15px);
    outline: var(--text-color);
    border-radius: 8px;
    list-style: none;
    transition: 0.1s ease-in-out;
    height: 0;
    white-space: nowrap;
    box-shadow: 0px 5px 13px 5px rgba(0, 0, 0, 0.1);
}

.fluent-combobox:hover ul {
    display: block;
    position: absolute;
    height: auto;
}

.fluent-combobox ul li {
    display: block;
    width: 100%;
}

.fluent-combobox ul li a {
    color: var(--text-color);
    border: none;
    margin: 5px;
    padding: 6px 20px 7px;
    background-color: rgba(0, 0, 0, 0);
    transition: 0.1s ease-in-out;
    outline: var(--text-color);
    border-radius: 4px;
    width: auto;
}

.fluent-combobox ul li a:hover {
    background-color: var(--light-hover-color);
}

.fluent-combobox ul li a:focus {
    background-color: var(--focus-color);
}

.fluent-combobox a {
    text-decoration: none;
    color: #282737;
    display: block;
    width: 100%;
    color: var(--text-color);
    border: var(--button-border-color) solid 0.4px;
    padding: 4px 11px 6px;
    background-color: var(--button-color);
    transition: 0.1s ease-in-out;
    outline: var(--text-color);
    border-radius: 4px;
    font-size: 13.33px;
}

.fluent-combobox a:hover {
    background-color: var(--button-hover-color);
    cursor: default;
}

.fluent-combobox a.fluent-combobox-item.selected {
    background-color: var(--light-hover-color);
}

.fluent-combobox a.fluent-combobox-item.selected:hover {
    background-color: var(--focus-color);
}

/* Code */

.fluent-code-container {
    flex: auto;
    justify-content: center;
    padding-right: 3.5em;
    overflow: auto;
}

.fluent-code-copy-button {
    margin: 0;
    margin-left: 2em; 
    padding: 0.2em;
    display: inline-block;
    position: absolute;
}

code {
    white-space: pre-line;
    overflow: auto;
}

/* SVG */

.fluent-svg-path {
    fill: var(--black-white-color);
}

.fluent-svg {
    margin-bottom: -0.2em; 
}

/* Texbox */

.fluent-textbox-container {
    flex: auto;
    justify-content: center;
    margin: 0;
    padding: 0;
    display: inline;
}

/* Input Text Clear Button */

.fluent-clear-text-input-button {
    margin-left: -2.1em;
    height: 100%;
    padding: 0.095em 0.52em 0.18em;
    font-weight: 100;
    transform: translateY(-0.1em);
    -webkit-transform: translateY(-0.1em);
    -moz-transform: translateY(-0.1em);
    -ms-transform: translateY(-0.1em);
    -o-transform: translateY(-0.1em);
    opacity: 0;
    display: none;
    font-weight: light;
}


/* Input Password Show */

.fluent-show-password-input {
    margin-left: -1.8em;
    position: absolute;
}

.fluent-show-password-input:hover {
    filter: invert(0.3);
    -webkit-filter: invert(0.3);
}

/* Content */

.fluent-content {
    margin: 2em;
}

/* Flyout */

.fluent-flyout {
    position: absolute;
    list-style: none;
    padding: 0.5em;
    margin-top: 0;
    width: fit-content;
    height: fit-content;
    color: var(--text-color);
    border: var(--light-border-color) solid 0.4px;
    background: var(--light-trans-color);
    backdrop-filter: blur(15px);
    outline: var(--text-color);
    border-radius: 8px;
    list-style: none;
    transition: 0.1s ease-in-out;
    box-shadow: 0px 5px 13px 5px rgba(0, 0, 0, 0.1);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Table */

table {
    overflow-x: auto;
    display: inline-block;
    background-clip: padding-box;
    border-collapse: collapse;
    margin: 1.5em 0;
    border: var(--dark-border-color) solid 0.4px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

th {
    background-color: var(--light-color);
    padding: 0.5em 2.2em;
    font-weight: 600;
}

tr > th:first-child {
    border-radius: 4px 0 0 0;
    -webkit-border-radius: 4px 0 0 0;
    -moz-border-radius: 4px 0 0 0;
    -ms-border-radius: 4px 0 0 0;
    -o-border-radius: 4px 0 0 0;
}

tr > th:last-child {
    border-radius: 0 4px 0 0;
    -webkit-border-radius: 0 4px 0 0;
    -moz-border-radius: 0 4px 0 0;
    -ms-border-radius: 0 4px 0 0;
    -o-border-radius: 0 4px 0 0;
}

tbody > tr:last-child > td:first-child {
    background-color: var(--darker-color);
    border-radius: 0 0 0 4px;
    -webkit-border-radius: 0 0 0 4px;
    -moz-border-radius: 0 0 0 4px;
    -ms-border-radius: 0 0 0 4px;
    -o-border-radius: 0 0 0 4px;
}

tbody > tr:last-child > td:last-child {
    background-color: var(--darker-color);
    border-radius: 0 0 4px 0;
    -webkit-border-radius: 0 0 4px 0;
    -moz-border-radius: 0 0 4px 0;
    -ms-border-radius: 0 0 4px 0;
    -o-border-radius: 0 0 4px 0;
}

tbody tr td {
    background-color: var(--darker-color);
}

td {
    padding: 1.5em 1em;
}

tbody tr {
    vertical-align: middle;
    font-size: 0.9rem;
    box-sizing: border-box;
    border-bottom: 0.4px solid var(--light-border-color);
}

tbody > tr:last-child {
    border-bottom: none;
}

/* Page */

fluent-page {
    display: none;
    width: 100%;
    height: 100%;
}

@keyframes fluent-page-fade-up { 
    0% { transform: translateY(40px); -webkit-transform: translateY(40px); -moz-transform: translateY(40px); -ms-transform: translateY(40px); -o-transform: translateY(40px); opacity: 0; }
    100% { transform: translateY(0px); -webkit-transform: translateY(0px); -moz-transform: translateY(0px); -ms-transform: translateY(0px); -o-transform: translateY(0px); opacity: 1; }
 }

/* Page Switcher */

fluent-page-switcher {
    display: flex;
    align-items: stretch;
}

/* Web Container */

fluent-web-container {
    margin-top: 2.5em;
    display: flex;
    min-height: fit-content;
    bottom: 0;
    min-height: 100%;
    align-items: stretch;
}

/* Main Content */

.fluent-main-content {
    border: var(--dark-border-color) solid 1px;
    border-right: none;
    border-bottom: none;
    background-color: var(--darker-color);
    padding: 3em;
    margin-left: 5em;
    width: auto;
    border-radius: 8px 0 0 0;
    -webkit-border-radius: 8px 0 0 0;
    -moz-border-radius: 8px 0 0 0;
    -ms-border-radius: 8px 0 0 0;
    -o-border-radius: 8px 0 0 0;
    flex:1;
    flex-grow: 1;
    min-height: fit-content;
}

.fluent-loading-icon {
    z-index: 100001;
}

.fluent-loading-background {
    z-index: 100000;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--dark-color);
    transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -ms-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
}

/* Default Animations */

@keyframes fluent-fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fluent-fade-out {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

/* Label */

.fluent-label {
    padding: 0.225em;
    border: solid var(--dark-border-color) 1px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    background-color: var(--light-color);
    font-size: 13.33px;
    transition: 0.25s ease-in-out;
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -ms-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
}

/* Mica effect */

.fluent-mica-effect {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -10000;
}

.fluent-mica-effect.mica-enabled {
    background-color: var(--dark-color);
    background: var(--background-image) no-repeat fixed;
    background-size: cover;
}

/* Content dialog */

@keyframes fluent-content-dialog-fade {
    0% { opacity: 0; transform: scale(1.2); -webkit-transform: scale(1.2); -moz-transform: scale(1.2); -ms-transform: scale(1.2); -o-transform: scale(1.2); }
    100% { opacity: 1; transform: scale(1); -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); }
}

@keyframes fluent-content-dialog-fade-rev {
    0% { opacity: 1; transform: scale(1); -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); }
    100% { opacity: 0; transform: scale(1.2); -webkit-transform: scale(1.2); -moz-transform: scale(1.2); -ms-transform: scale(1.2); -o-transform: scale(1.2); }
}

.fluent-content-dialog-background {
    background-color: rgba(0, 0, 0, 0.175);
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.fluent-content-dialog {
    background-color: var(--darker-color-noa);
    border-radius: 10px;
    border: var(--lighter-border-color) solid 1px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 1.35em 1.5em 2em 1.5em;
    min-width: 15em;
    min-height: 8em;
    overflow: hidden;
}

.fluent-content-dialog * {
    flex-grow: 1;
}

fluent-content-dialog-options {
    background-color: var(--dark-color);
    border-top: var(--dark-border-color) solid 1px;
    width: auto;
    height: fit-content;
    margin: 1.5em -1.5em -2em -1.5em;
    display: flex;
    justify-content: stretch;
    flex-direction: row;
    align-items: center;
    padding: 0.5em;
}

fluent-content-dialog-options * {
    flex: 1 1 0px;
    margin: auto 0.5em;
}

/* Icon */

.fluent-icon {
    filter: invert(var(--icon-color-inverted));
    -webkit-filter: invert(var(--icon-color-inverted));
}