body{
    background-color: rgb(30, 30, 30);
}

/* Text input Fluent design */

input[type="text"]{
    background-color: rgb(40, 40, 40);
    border: rgb(40, 40, 40) solid 1px;
    border-bottom: rgb(185, 185, 185) solid 0.2px;
    border-radius: 4px;
    padding: 6px 6px 5px 10px;
    color: white;
    outline: none;
}

input[type="text"]:hover{
    background-color: rgb(45, 45, 45);
}

input[type="text"]:focus{
    background-color: rgb(30, 30, 30);
    border-bottom: rgb(46, 137, 255) solid 2px;
}

/* Button Fluent no background design */

.button-fluent-nobg{
    color: rgb(185, 185, 185);
    border: none;
    padding: 5px 11px 6px;
    background-color: rgba(0, 0, 0, 0);
    transition: 0.1s ease-in-out;
    outline: white;
    border-radius: 4px;
}

.button-fluent-nobg:hover{
    background-color: rgba(45, 45, 45, 1);
    cursor: pointer;
}

.button-fluent-nobg:focus{
    background-color: rgba(45, 45, 45, 0.5);
}

/* Button Fluent design */

.button-fluent{
    color: white;
    border: rgb(47, 47, 47) solid 0.2px;
    padding: 5px 11px 6px;
    background-color: rgb(40, 40, 40);
    transition: 0.1s ease-in-out;
    outline: white;
    border-radius: 4px;
}

.button-fluent:hover{
    background-color: rgb(45, 45, 45);
    cursor: pointer;
}

.button-fluent:focus{
    background-color: rgba(45, 45, 45, 0.5);
    color: rgba(255, 255, 255, 0.75);
}

/* Form Fluent design */

form{
    border: rgb(40, 40, 40) solid 1px;
}