<h2>
  <%- data.name %>
</h2>
<p>Unlike in the original framework, you don't need to call any init functions.</p>
<p>You can use one of these functions to listen for Fluent being fully initialized</p>
<fluent-border>
  <pre><code class="lang-js">Fluent_onInitialized(() => {});</code></pre><br>
  <pre><code class="lang-js">Fluent_onReady(() => {});</code></pre>
</fluent-border>