<h2>
  <%- data.name %>
</h2>
<p>Enabled by default</p>
<h3>Usage</h3>
<p>Get Mica effect status</p>
<fluent-border>
  <pre><code class="lang-js">Fluent_isMicaActive();</code></pre>
</fluent-border>
<p>Disable Mica effect</p>
<fluent-border>
  <pre><code class="lang-js">Fluent_disableMica();</code></pre>
</fluent-border>
<p>Enable Mica effect</p>
<fluent-border>
  <pre><code class="lang-js">Fluent_enableMica();</code></pre>
</fluent-border>