<h2>
  <%- data.name %>
</h2>
<p>Fluent has a light and a dark theme.</p>
<fluent-border>
  <pre><code class="lang-JS">Fluent_themes</code></pre>
  <fluent-label consolas id="themes_FluentThemes_example"></fluent-label>
</fluent-border>
<p>Get current theme</p>
<fluent-border>
  <pre><code class="lang-js">Fluent_getActiveTheme();</code></pre>
</fluent-border>
<p>Set a theme</p>
<fluent-border>
  <pre><code class="lang-js">Fluent_setTheme(/*theme from Fluent_themes*/);</code></pre>
</fluent-border>
<p>Switch the theme</p>
<fluent-border>
  <pre><code class="lang-js">Fluent_switchTheme();</code></pre>
</fluent-border>