.#{$prefix}combobox {
	position: relative;

	display: inline-block;
	width: auto;
	border-radius: 4px;
	transition: 0.1s ease-in-out;
	margin-right: 1.43em;

	&:focus {
		background-color: var(--#{$prefix}button-focus-color);
		color: var(--#{$prefix}text-focus-color);
	}

	ul {
		list-style: none;
		display: none;
		padding: 3px;
		margin-top: 0;
		width: auto;
		color: var(--#{$prefix}text-color);
		border: var(--#{$prefix}light-border-color) solid 0.4px;
		background: var(--#{$prefix}light-trans-color);
		backdrop-filter: blur(15px);
		outline: var(--#{$prefix}text-color);
		border-radius: 8px;
		list-style: none;
		transition: 0.1s ease-in-out;
		height: 0;
		white-space: nowrap;
		box-shadow: 0px 5px 13px 5px rgba(0, 0, 0, 0.1);
	}

	&:hover ul {
		display: block;
		position: absolute;
		height: auto;
	}

	ul li {
		display: block;
		width: 100%;

		a {
			color: var(--#{$prefix}text-color);
			border: none;
			margin: 5px;
			padding: 6px 20px 7px;
			background-color: rgba(0, 0, 0, 0);
			transition: 0.1s ease-in-out;
			outline: var(--#{$prefix}text-color);
			border-radius: 4px;
			width: auto;

			&:hover {
				background-color: var(--#{$prefix}light-hover-color);
			}

			&:focus {
				background-color: var(--#{$prefix}focus-color);
			}
		}
	}

	a {
		text-decoration: none;
		color: #282737;
		display: block;
		width: 100%;
		color: var(--#{$prefix}text-color);
		border: var(--#{$prefix}button-border-color) solid 0.4px;
		padding: 4px 11px 6px;
		background-color: var(--#{$prefix}button-color);
		transition: 0.1s ease-in-out;
		outline: var(--#{$prefix}text-color);
		border-radius: 4px;
		font-size: 13.33px;

		&:hover {
			background-color: var(--#{$prefix}button-hover-color);
			cursor: default;
		}

		&.#{$prefix}combobox-item.selected {
			background-color: var(--#{$prefix}light-hover-color);

			&:hover {
				background-color: var(--#{$prefix}focus-color);
			}
		}
	}
}
