.#{$prefix}label {
	padding: 0.225em;
	border: solid var(--#{$prefix}dark-border-color) 1px;
	border-radius: 4px;
	background-color: var(--#{$prefix}light-color);
	font-size: 13.33px;
	transition: var(--#{$prefix}transition-duration) ease-in-out;

	&[consolas] {
		font-family: Consolas, monaco, monospace;
	}
}
